{% extends "authenticated_base.twig" %}

{% block title %}Anasayfa{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <strong>Panel</strong>
        </div>
        <div class="card-block">

        </div>
    </div>
{% endblock %}