{% extends '/base.twig' %}

{% block title %}Oturum Aç{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box box-primary" style="margin-top: 30px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Oturum Aç</h3>
                    </div>
                    <div class="box-body">
                        {% include "messages.twig" %}
                        <form method="post">
                            <div class="form-group {% if has_email_error %}has-error{% endif %}">
                                <label>E-Posta Adresi</label>
                                <input type="text" class="form-control" name="email" />
                            </div>
                            <div class="form-group {% if has_password_error %}has-error{% endif %}">
                                <label>Şifre</label>
                                <input type="password" class="form-control" name="password" />
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">Oturum Aç</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}